<%= render "layouts/header" %>

<!-- =========================
      START PAGE TITLE SECTION
      ============================== -->
      <section class="page-title-area contact-area" style="padding-top: 150px;">
         <div class="container">
            <div class="row">
               <div class="col-md-12 text-center">
                  <div class="about-head-content">
                     <h2>Register</h2>
                     <p>You're on your way to your millions!</p>
                  </div>
                  <div class="breadcrumbs text-center">
                     <ul class="page-breadcrumbs">
                         <li><a href="#">home</a></li>
                         <li><a href="#">Register</a></li>
                     </ul>                        
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- =========================
      END PAGE TITLE SECTION
      ============================== --> 

      <!-- =========================
      START CONTACT US SECTION
      ============================== -->
      <section class="contact-us-area contact-us-1-area">
         <div class="contact-form">
            <div class="container">
               <div class="row">
                  <div class="col-sm-8">
                     <div class="contact-form-left contact-form-3">
                        <h2>Fill <b>All</b> Fields Below </h2>
                        <div class="show_result"></div>
                        <div class="result_message"></div>                         
                        <%= simple_form_for @user do |f| %>
                           <div class="row">
                         	  	
                         	  	<h5 class="section-header">Sponsor <i class="fa fa-angle-double-down" aria-hidden="true"></i></h5>
                         	  	<div class="col-sm-12">
                                 <!-- <input type="text" id="s_id" class="form-control" placeholder="Sponsor ID"> -->
                                 <%= f.input :refferal_id, class: "form-control", placeholder:"Sponsor ID"  %>
                              </div>
                              <div class="col-sm-12">
                                 <input type="text" id="s_name" class="form-control" placeholder="Sponsor Name">
                                 <%#= f.input :sponsor_name, class: "form-control", placeholder:"Sponsor ID"  %> 
                              </div>

                              <h5 class="section-header">Personal Details <i class="fa fa-angle-double-down" aria-hidden="true"></i></h5>
                              <div class="col-sm-12">
                                 <!-- <input type="text" id="username" class="form-control" placeholder="Username">  -->
                                 <%= f.input :username, class: "form-control", placeholder:"Username"  %> 
                              </div>
                              <div class="col-sm-12">
                                  <!-- <input type="text" class="form-control" id="full_name" placeholder="Full Name"> -->
                                  <%= f.input :full_name, as: :radio, collection: ['male', 'female'], class: "form-control", placeholder:"Username"  %> 
                              </div>
                              <div class="col-sm-12">
                                  <input type="text" class="form-control" id="Phone" placeholder="Phone">
                              </div>
                              <div class="col-sm-12">
                                 <input type="email" id="Email" class="form-control" placeholder="Email">
                              </div>

                              <h5 class="section-header">Address Details <i class="fa fa-angle-double-down" aria-hidden="true"></i></h5>
                              <div class="col-sm-12">
                                  <textarea class="form-control" rows="2" id="address"  placeholder="Address"></textarea>
                              </div>
                              <div class="col-sm-12">
                                 <input type="text" id="City" class="form-control" placeholder="City">
                              </div>
                              <div class="col-sm-12">
                                 <input type="text" id="State-province" class="form-control" placeholder="State/Province">
                              </div>
                              <div class="col-sm-12">
                                 <input type="text" id="Country" class="form-control" placeholder="Country">
                              </div>
                              <div class="col-sm-12">
                                 <input type="text" id="Zipcode" class="form-control" placeholder="Zip Code">
                              </div>

                              <h5 class="section-header">Bank Details <i class="fa fa-angle-double-down" aria-hidden="true"></i></h5>
                              <div class="col-sm-12">
                                 <input type="text" id="account-name" class="form-control" placeholder="Account Name">
                              </div>
                              <div class="col-sm-12">
                                 <input type="text" id="account-number" class="form-control" placeholder="Account Number">
                              </div>
                              <div class="col-sm-12">
                                 <input type="text" id="bank-name" class="form-control" placeholder="Bank Name">
                              </div>
                              <div class="col-sm-12">
                                 <input type="text" id="bank-name" class="form-control" placeholder="Bank Name">
                              </div>

                              <h5 class="section-header">Security Details <i class="fa fa-angle-double-down" aria-hidden="true"></i></h5>
                              <div class="col-sm-12">
                                 <input type="password" id="pword" class="form-control" placeholder="Password"> 
                              </div>
                              <div class="col-sm-12">
                                 <input type="password" id="pword-confirmation" class="form-control" placeholder="Confirm Password"> 
                              </div>

                              <div class="col-sm-6 text-center">
                                 <button type="button" id="submit" class="btn btn-dm">Register</button>
                              </div>
                           </div>
                        <% end %> 
                     </div> 
                  </div> 
                  <div class="col-sm-4">
                     <div class="contact-form-3-text">
                        <h2>Need Help?</h2>
                        <p>Feel free to contact me for any questions or if you need any help or services ! I provide competitive insight and market analysis no one can duplicate. Analysis reveals opportunities, supports decisions, connects your SEO tactics and strategy directly to revenue.</p>
                        <div class="address-area">
                           <div class="view-location">
                              <h2>Address :</h2>
                              <p><i class="fa fa-map-marker"></i>  Salisbury Plaza, Capital Beltway, Maryland USA.</p>
                           </div>   
                           <div class="col-md-6 no-padding-left">
                              <div class="address-details">
                                  <h2>Email :</h2>
                                  <span><i class="fa   fa-envelope"></i>info@essentiallife.com.ng</span>
                              </div>
                           </div>                          
                           <div class="col-md-6 no-padding-left">
                              <div class="address-details">
                                  <h2>Phone :</h2>
                                  <span><i class="fa  fa-phone"></i>  +234 813 697 4350</span>
                              </div>
                           </div>                         
                        </div>
                     </div>
                  </div>             
               </div>
            </div>
         </div>         
      </section>
      <!-- =========================
      START CONTACT US SECTION
      ============================== --> 

<%= render "layouts/footer" %>